body{
    background-color: #80f085;
}
h1{
    color:rgb(184, 0, 0);
    margin-left: 30px;
}
.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;

}
.grid{
    background: skyblue;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
p,h2{
    text-align:center;
}
.share{
    display:flex ;
    justify-content:flex-end ;
}
a:link{
    color: #846569
}
a:visited{
    color: #00ffaa
}
.menu{
    margin-right: 30px;
    padding: 10px;
}
.menu a{
    margin-left: 20px;
}
.item{
    position: relative;
}
.item p{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.item:hover p{
    opacity:1
}